/* Reset básico para margens e padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* Ou a fonte de sua preferência */
}

body {
    background-image: url('https://rafaelshelby19.github.io/bancodedadosss/banco.jpg'); /* Substitua pela URL da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-form {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px; /* Ajuste conforme a necessidade */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

  
  
        
    

